<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bulma.min.css">
</head>
<body>  
    <div class="titulo">
        <h1> InfoSoft </h1>
        <div class="menu">
            {{#each menu}}
                  <button class="boton">{{ this.nombre }}</button>
            {{/each}}
        </div>
    </div>
   
    <div class="registro">
        <h2 class="texto"> Login </h2>
        <div class="entradas">
            <input type="text" id="usuario" placeholder="usuario">
            <input type="password" id="contra" placeholder="contraseña">
        </div>
        <div class="botones">
            <button onclick="enviar()"> Enviar</button>
        </div>
    </div>
    <script src="registro.js"></script>
</body>
</html>
